body{
    background-color: rgba(61, 13, 1, 0.957);
}

.container0{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    position: unset;
    

}

.menu{
    
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.478);
}

.resumo{
    
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
}

input{
    width: 300px;
    color: brown;
    background-color: pink;
    text-align: left;  
    font-size: 15px;  
    border: none;
    padding: 5px;
    
}

.botao{
    
    display: flex;
    justify-content: center;
}

#btn{
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    background-color:green;
    color: white;
    border-radius: 10px;    
    box-shadow: 2px 2px black;
    align-items: center;
   

}

#btn:hover{
    background-color: rgb(255, 102, 0);
}

footer{
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 0.903);
}
